<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>controller.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>controller.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlgDetailController</servlet-name>
        <servlet-class>controller.BlgDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlgDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
