<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryController</servlet-name>
        <servlet-class>controller.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControllder</servlet-name>
        <servlet-class>controller.AddToCartControllder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controller.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>controller.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <servlet-class>async.AddToCartAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteToCartAsyncController</servlet-name>
        <servlet-class>async.DeleteToCartAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderListAcc</servlet-name>
        <servlet-class>admin.ManagerOrderListAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderCanc</servlet-name>
        <servlet-class>admin.ManagerOrderCanc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccount</servlet-name>
        <servlet-class>admin.ManagerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>admin.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoController</servlet-name>
        <servlet-class>controller.UserInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>admin.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCancOrder</servlet-name>
        <servlet-class>controller.UserCancOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryController</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControllder</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/updatequantitty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AutFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizeFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <url-pattern>/AddToCart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteToCartAsyncController</servlet-name>
        <url-pattern>/DeleteToCart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderListAcc</servlet-name>
        <url-pattern>/accept-statusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderCanc</servlet-name>
        <url-pattern>/cancel-statusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccount</servlet-name>
        <url-pattern>/ManagerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoController</servlet-name>
        <url-pattern>/UserInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCancOrder</servlet-name>
        <url-pattern>/userCancle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
